<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhanghongshen.schedule.mapper.TaskMapper">

    <select id="listExecuteTimeBeforeByTypeAndPriority" resultType="com.zhanghongshen.model.schedule.pojo.Task">
        select *
        from task
        where task_type = #{taskType}
          and priority = #{priority}
          and execute_time <![CDATA[<]]> #{date, javaType=java.util.Date}
    </select>

</mapper>